.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: #000000;
    height: 25px;
    line-height: 25px;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 2px;
}
nav a:hover{
    background-color: gray;
}